.header {
  background-color: #0f3580;
  color: white;
  padding-top: 20px;
  line-height: 2.5rem;
}

.wraper {
  position: relative;
}

.container {
  width: 1200px;
  margin: auto;
  position: relative;
}

.header h2 {
  font-size: 2rem;
}

.header button {
  background-color: #0071c2;
  color: white;
  border: none;
  cursor: pointer;
}

.header button:hover {
  opacity: 0.7;
}

.action {
  padding-bottom: 60px;
}

.action button {
  margin-top: 20px;
  padding: 15px;
}

.search {
  background-color: white;
  border: 2px solid orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -23px;
  width: 1200px;
  height: 3rem;
  border-radius: 10px;
}

.inputs {
  width: 90%;
  display: flex;
}

.button {
  width: 10%;
  display: flex;
  justify-content: center;
}
.inputs input {
  all: unset;
  flex-grow: 1;
  padding-left: 20px;
}

.date-input {
  position: relative;
}

.search button {
  padding: 10px;
}

.date {
  position: absolute;
  z-index: 1;
  scale: 1.2;
  left: 785px;
  top: 288px;
}
